/*selector{ property: value;}
who{ what: how;}*/

/*Form Styling*/

body {

    background-color: teal;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

a:visited,
a:hover {

    color: light grey;

}
